<!DOCTYPE html>
<html>
<head>
  <title>Game of Thrones Family Tree</title>
</head>
<body>
<nav>
  <a href="/">home//</a>
  <a href="/houses">houses//</a>
  <a href="/characters">characters//</a>
  <a href="/allegiances">allegiances//</a>
  <a href="/religions">religions//</a>
</nav>
<%= yield %>
</body>
</html>