<!DOCTYPE html>
<html>
<head>
  <title>Game of Thrones Family Tree</title>
  <link rel="stylesheet" type="text/css" href="/styles/layout.css">
  <link href='https://fonts.googleapis.com/css?family=Cinzel' rel='stylesheet'>
</head>
<body>
<nav>
  <a href="/">home//</a>
  <a href="/houses">houses//</a>
  <a href="/characters">characters//</a>
  <a href="/allegiances">allegiances//</a>
  <a href="/religions">religions//</a>
</nav>
<%= yield %>
</body>
</html>