<h1>Characters</h1>

<p><% @characters.each do |character| %></p>

<p><a href="/characters/<%= character.id%>"><%= character.firstname%> <%= character.surname%></a></p>

<p><%=   character.house.name %></p>
<p><%   end %></p>