<h1>Allegiances</h1>


<% @allegiances.each do |allegiance| %>
<p><a href="/allegiances/<%= allegiance.id%>">
<%   allegiance.houses.each do |house| %>
<p>
  <%=   house.name  %>
  <img src="<%= house.sigil_link %>">
</p>
<%   end %>
Allegiance
<% end %></p></a>



