<p><% @allegiances.each do |allegiance| %></p>
<p><a href="/allegiances/<%= allegiance.id%>">Allegiance: <%= allegiance.id%></a></p>
<p><%= allegiance.a_id%></p>
<p><%= allegiance.b_id%></p>
<p><% end %></p>