<h1>The Houses of Westeros</h1>
<div class="container">
  
  <% @houses.each do |house| %>
    
    <img class="sigil" src="<%= house.sigil_link %>">
      
        
          <a href="/houses/<%= house.id%>">House <%= house.name%></a>
        
      

  <% end %>
  
</div>